.contacts {
  display: none;
}

@media (min-width: $desktop-width) {
  .contacts {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    position: relative;
    &__map {
      width: 944px;
      position: relative;
      z-index: 1;
      height: 400px;
    }
    &__block {
      position: fixed;
      z-index: 99;
      right: 0;
      bottom: 95px;
      width: 50%;
      background-color: #bf0101;
      padding: 30px 0 55px 35px;
    }
    &__title {
      font-size: 24px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      margin: 0;
    }
    &__text {
      font-family: 'Myriad Pro', 'Arial', sans-serif;
      font-size: 14px;
      color: #fff;
    }
    &__form {
      margin-top: 35px;
      display: flex;
      flex-direction: column;
    }
    &__form-input {
      width: 292px;
      padding: 10px 15px;
      font-size: 16px;
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      &::placeholder {
        color: rgba(white, 0.6);
      }

    }
    &__form-btn {
      width: 292px;
      border: none;
      height: 45px;
      margin-top: 10px;
      font-size: 16px;
      text-transform: uppercase;
      color: #bf0101;
      background-color: #fff;
    }
  }
}